@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

.back-icon {
    --size: 30px;
    display: inline-block;
    background-image: url('/back.png');
    background-size: 100%;
    width: var(--size);
    height: var(--size);
}

.front-icon {
    --size: 30px;
    display: inline-block;
    background-image: url('/front.png');
    background-size: 100%;
    width: var(--size);
    height: var(--size);
}